# ===============================
# Java
# ===============================
*.class

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/


# ===============================
# IDE
# ===============================

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/


# ===============================
# OS Generated
# ===============================

.DS_Store
Thumbs.db


# ===============================
# Environment
# ===============================

.env
*.env


# ===============================
# AWS Credentials
# ===============================

.aws/
credentials


# ===============================
# Build
# ===============================

build/
out/


# ===============================
# Docker
# ===============================

docker-data/


# ===============================
# Temporary Files
# ===============================

*.tmp
*.bak